@charset "utf-8";
/* CSS Document */


*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #272727;
  color: #ededed;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  }

main{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
	align-items: center;
  background-image: linear-gradient(rgb(46, 84, 137), rgba(73, 107, 186, 0.26), rgba(124, 163, 216, 0.76));
  background-color: #0B3063;
  display: flex;
}

/* headings */

.overskrift h1 {

  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 47px;
  font-weight: 550;
}

h2{


}


.logoopret{
	margin-top: 90px;
}

.member{
  color: #4587E1;
  margin-top: -10px;
  font-size: 12px;
}



::placeholder {
  color: #EDEDED;
  opacity: 75%;
}
.input{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
	justify-content: center;
	align-items: center;
	border:none;
}

input:focus, textarea:focus {
	outline: none;
}

input, select, textarea{
  color: #FFFFFF;
}

input{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-right: 30px;
  display: flex;
	margin-bottom: 25px;
  border: none;
	background-color:transparent;
}

.mail{
	border-bottom: 1px solid #FFFFFF;
}


.kode{
	border-bottom: 1px solid #FFFFFF;
}

.kode2{
	border-bottom: 1px solid #FFFFFF;
}

button{
  color:  #204480;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: #A9D7BB;
  border-color: #82b5be;
  border-style: solid;
  border-width: thin;
  border-radius: 28px;
  radius: 50%;
  height: 32px;
  position: absolute;
  width: 18%;
  margin-top: 70px;
  margin-left: -50px;
}
